@import '../../../styles/config';
.layout {
    &__container{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin: 0 1.5rem ;
        &__items{
            display: flex;
            flex-direction: column;

            &__title{
                font-weight: bold;
                text-decoration: underline;
            }
       
            &__delete{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p {
                    margin-bottom:0;
                    align-self: center;
                }
            }
            &__edit{
                display: flex;
                flex-direction: row;
            }

        }
    }

}
