@import '../../styles/config';
.button {
  border: 1px solid #fff;
  border-radius: 8px;
  min-width: 200px;
  padding: 1rem;
  margin: 1rem;
  transition: background-color ease-in 200ms, color ease-in 200ms;
}