.catLink {
	display: flex;
	justify-content: space-around;
	text-decoration: underline;
	padding: 1rem 0;
	width: 100%;
	height: 100%;
}

.catLink:hover,
.catLink:focus,
.catLink:active {
  background-color: lightgrey;
  border: thin solid black;
}