@import '../../../styles/config';
.layout {
    &__menulist{
        display: flex;
        flex-direction: column;
        &__changes{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            border-bottom:solid rgb(107, 104, 104) ;
            padding: 1rem 0;
        }
        &__item{
            max-width: 500px;
            display: flex;
            flex-direction: row;
            &__delete {
                margin: 1rem;
                align-self:center;
          
            }
            &__form{
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1rem;
                  }
                select{
                    border: 1px solid var(--color-accent);
                    border-radius: 3px;
                    background-color: #fff;
                    flex: 1;
                    padding: 8px;
                    width: 100%;
                }
                label{
                    margin-top: 1rem;
                }
            }
        }
        &__pagebutton{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
        }
    }
}
