@import '../../styles/config';
.buttonLink {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 1rem;
  transition: background-color ease-in 200ms, color ease-in 200ms;
  margin: 0.5rem;

  a{
    text-decoration: none;
  }
  &:hover {
    color: var(--color-white);
  }
}
