@import '../../styles/config';
.input {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    width: 100%;

    input{
      border: 1px solid var(--color-accent);
      border-radius: 3px;
      flex: 1;
      padding: 8px;
      width: 100%;
      align-self: center;
    }
  
  }
  